@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat"), 
        url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), 
        url("/fonts/Montserrat/Montserrat-Regular.otf") format("otf"),
        url("/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"),
        url("/fonts/Montserrat/Montserrat-Regular.svg") format("svg");
  }

  @font-face {
    font-family: "Montserrat-Italic";
    font-weight: normal;
    font-style: italic;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat"), 
        url("/fonts/Montserrat/Montserrat-Italic.woff") format("woff"), 
        url("/fonts/Montserrat/Montserrat-Italic.otf") format("otf"),
        url("/fonts/Montserrat/Montserrat-Italic.ttf") format("ttf"),
        url("/fonts/Montserrat/Montserrat-Italic.svg") format("svg");
  }

  @font-face {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat"), 
        url("/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), 
        url("/fonts/Montserrat/Montserrat-SemiBold.otf") format("otf"),
        url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf"),
        url("/fonts/Montserrat/Montserrat-SemiBold.svg") format("svg");
  }

  @font-face {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat"), 
        url("/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), 
        url("/fonts/Montserrat/Montserrat-Bold.otf") format("otf"),
        url("/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"),
        url("/fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  }